Source: spm8
Section: science
Priority: optional
Maintainer: NeuroDebian Team <team@neuro.debian.net>
Uploaders: Michael Hanke <michael.hanke@gmail.com>, Yaroslav Halchenko <debian@onerussian.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.0
Vcs-Browser: http://git.debian.org/?p=pkg-exppsy/spm8.git
Vcs-Git: git://git.debian.org/git/pkg-exppsy/spm8.git
XS-DM-Upload-Allowed: yes


Package: spm8
Architecture: all
Depends: ${octave:Depends}, ${misc:Depends}
Description: analysis of brain imaging data sequences
 Statistical Parametric Mapping (SPM) refers to the construction and assessment
 of spatially extended statistical processes used to test hypotheses about
 functional imaging data. These ideas have been instantiated in software that is
 called SPM. It is designed for the analysis of fMRI, PET, SPECT, EEG and MEG.


Package: spm8-data
Architecture: all
Depends: ${misc:Depends}
Description: data files for SPM8
 Statistical Parametric Mapping (SPM) refers to the construction and assessment
 of spatially extended statistical processes used to test hypotheses about
 functional imaging data. These ideas have been instantiated in software that is
 called SPM. It is designed for the analysis of fMRI, PET, SPECT, EEG and MEG.


Package: spm8-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: manual for SPM8
 Statistical Parametric Mapping (SPM) refers to the construction and assessment
 of spatially extended statistical processes used to test hypotheses about
 functional imaging data. These ideas have been instantiated in software that is
 called SPM. It is designed for the analysis of fMRI, PET, SPECT, EEG and MEG.


Package: spm8-mex
Section: contrib/science
Architecture: all
Depends: matlab, ${misc:Depends}
Description: MEX files for MATLAB users of SPM8
 Statistical Parametric Mapping (SPM) refers to the construction and assessment
 of spatially extended statistical processes used to test hypotheses about
 functional imaging data. These ideas have been instantiated in software that is
 called SPM. It is designed for the analysis of fMRI, PET, SPECT, EEG and MEG.
