#!/usr/bin/make -f

# get octave paths (have to build-depend on octave-headers)
#include /usr/share/octave/debian/defs.make
# same for Matlab
include /usr/share/matlab/debian/defs.make

# one ring to rule them all ...
%:
	dh $@

override_dh_auto_configure:
override_dh_auto_build:
	# build manual
	$(MAKE) -C man
	# build octave extensions -- set proper extension to prevent rebuilding
	#$(MAKE) -C src SUF=mex MEXBIN="mkoctfile --mex" MEXOPTS=""

override_dh_auto_install:
	# create a link in octaves PATH to SPM
	#-mkdir -p debian/spm8-common/$(MDIR)
	#ln -sf /usr/share/spm8 debian/spm8-common/$(MDIR)/spm8
	# all files in root
	find . -maxdepth 1 -type f \
		-exec install -m 644 -t debian/spm8-common/usr/share/spm8 \{\} \;
	# and all directories, but a few that are shipped in other packages
	find . -maxdepth 1 -mindepth 1 -type d \
		! -name debian \
		! -name templates \
		! -name tpm \
		! -name rend \
		! -name man \
		! -name apriori \
		! -name src \
		! -name EEGtemplates \
		! -name .git ! -name .pc \
		! -name canonical \
		-exec cp -r -t debian/spm8-common/usr/share/spm8 \{\} \;
	# cleanup overshoot
	find debian/spm8-common/usr/share/spm8 -type f -name '*.c' -delete
	find debian/spm8-common/usr/share/spm8 -type f -name '*.h' -delete
	find debian/spm8-common/usr/share/spm8 -type f -name 'spm_LICENCE.man' -delete
	find debian/spm8-common/usr/share/spm8 -type f -name 'Makefile' -delete
	find debian/spm8-common/usr/share/spm8 -name '.git*' -delete
	find debian/spm8-common/usr/share/spm8 -name '*.nii' -delete
	# generate file links setup
	cp debian/spm8-data.links.in debian/spm8-data.links
	cp debian/matlab-spm8.links.in debian/matlab-spm8.links
	# put spm8 in Matlab's M-path
	echo "/usr/share/spm8 $(MATLAB_MDIR)/spm8" >> debian/matlab-spm8.links
	# mex files from /usr/lib/spm8 -> /usr/share/spm8
	#-rm -f debian/octave-spm8.links
	#for f in $$(find . -type f -name '*.mex'); do \
	#	echo /usr/lib/spm8/$$(basename $$f) /usr/share/spm8/$$(basename $$f) >> debian/octave-spm8.links ; \
	#done
	# put convenience commands
	printf "#! /bin/sh\n\nmatlab -r \"addpath('/usr/share/matlab/site/m/spm8'); spm\"\n" \
		> debian/matlab-spm8/usr/bin/spm8-matlab
	chmod +x debian/matlab-spm8/usr/bin/spm8-matlab

override_dh_auto_test:

override_dh_install:
	dh_install
	# fixing bits
	# non-executable scripts
	chmod +x debian/matlab-spm8/usr/src/matlab/spm8/Makefile

override_dh_clean:
	# clean after latex
	find man -name '*.aux' -delete
	find man -name 'manual.*' ! -name manual.tex -delete
	# octave stuff
	find src -name '*.a' -delete
	find src -name '*.o' -delete
	find src -name '*.mex' -delete
	rm -f debian/spm8-common.links
	rm -f debian/octave-spm8.links
	rm -f debian/matlab-spm8.links
	dh_clean

override_dh_compress:
	# manual comes in a separate doc package -- no need to keep compressed
	dh_compress -X.pdf

# just to run octave-depends
override_dh_fixperms:
	dh_fixperms
	#octave-depends

override_dh_shlibdeps:
	# octave will take care of proper deps for extensions -- no need to scan
	# them and warn all the time
	#dh_shlibdeps -l$(shell octave-config --print OCTLIBDIR)
	dh_shlibdeps
